@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body.advertise-page {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background: #131313;
	background-image: url('/assets/image/advertiser-bg.png') !important; 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center 106px; 
    overflow-x: hidden;
  }
:root {
	--white: #ffffff;
    --link-color: #0886FB;
    --light-card: #161616;
    --light-dark: #1D1D1D;
    --grey-text: #C4C3C3;
}
.overtv-advertise {
	position: absolute;
    top: 230px;
	width: 15%;
    right: -1%;
    z-index: 9;
}

.ads-accordion {
    /* position: absolute; */
    max-width: 600px;
    margin: 20px auto;
}

.ads-accordion-item {
    /* background: linear-gradient(360deg, #2B7FFC 0%, #60EFFF 135.95%); */
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
}
.active {
    background: #232323;
}
.custon-icon {
    font-size: 20px;
    color: var(--white);
}
.ads-accordion-header {
    /* background-color: #f1f1f1; */
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ads-accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.ads-accordion-content p {
    font-size: 16px;
    font-weight: 200;
    line-height: 25.04px;
    text-align: left;
    color: #ffffff;
    padding-left: 43px;
}

.active .ads-accordion-content {
    padding: 10px 15px 40px 15px;
    max-height: 200px; 
}
.ads-accordion-header p {
    color: var(--white);
    font-size: 26px;
    font-weight: 600;
    line-height: 39.64px;
    text-align: left;
}
.hero-video video{
    max-width: 726px;
    height: 450px !important;
    border: 8px solid #020202;
    object-fit: cover;
    background-color: black;
}
.mobile-ad-image {
    display: none;
}
.hero-text {
    position: relative;
    width: 50%;
}
.hero-video img {
    position: absolute;
    bottom: -60px;
    z-index: 9;
    left: -46px;
    width: 170px;
    height: 170px;
}
.hero-text span {
    font-size: 44px;
    font-weight: 700;
    display: block;
    min-width: 500px;
    line-height: 46.74px;
    letter-spacing: -0.03em;
    text-align: left;
    background: linear-gradient(0deg, #146EF5 0%, #60EFFF 70.76%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text button {
    padding:  10px 15px 10px 15px;
    background: linear-gradient(360deg, #2B7FFC 0%, #60EFFF 135.95%);
    color: var(--white);
    border: 0px;
    border-radius: 4px;
    font-size: 13.96px;
    font-weight: 700;
    line-height: 20.94px;
}
.hero-text p {
    color: var(--white);
    font-size: 13.9px;
    font-weight: 700;
    line-height: 19.85px;
}
.hero-container {
    display: flex;
    margin-top: 8%;
    gap: 25px;
    align-items: center ;
}
.hero-text h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 46.74px;
    text-align: left;
    color: var(--white);
}
.ad-section-6 {
    display: flex;
    margin-top: 20%;
    gap: 40px;
}
.hero-video {
    position: relative;
    width: 57%;
    left: 3%;
}
.control-section p {
    color: var(--grey-text);
    padding-top: 10px;
}
.ad-section-6-ads-right img:nth-of-type(2) {
    display: none;
}
.control-section h2 {
    color: var(--white);
}
.ads-title {
    padding-top: 5%;
    width: 50%;
}
.wrapper .container .ads-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    text-align: start;
    color: #ffffff;
    margin: 0; 
}
.insights-section {
    display: flex;
}
.overtv-finance {
    position: absolute;
    right: 67%;
    top: 220px;
    bottom: -28px;
    z-index: 2;
    border-radius: 10px;
    width: 210px;
    height: 200px;
}
.ads-title-under{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}
.ads-section-2 {
    margin-top: 150px;
}
.Campaign-section h1{
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    line-height: 54.15px;
}
.ads-title-under p {
    font-weight: 400;
}
.Campaign-section p {
    font-size: 18px;
    font-weight: 200;
    line-height: 31.68px;
    text-align: left;
    color: #FFFFFF99; 
    max-width: 83%;
    margin-top: 10px;
}
.ads-title-under p {
    color: var(--grey-text);
    font-size: 14px;
    max-width: 68%;
}
.Campaign-section h1:nth-of-type(2), .Campaign-section button:nth-of-type(1) {
    display: none;
}
.image-insight {
    position: absolute;
    right: -10%;
    height: 640px;
}
.image-insight-container {
    display: flex;
    justify-content: end;
    left: 9%;
}
.campaign-manage {
    margin-top: 5rem;
}
.ad-section-6-ads-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #fff;
}
/* .insights-section p {
    font-size: 24px;
    font-weight: 600;
    line-height: 39.64px;

} */
.active .ads-accordion-header p {
    font-size: 26px;
    font-weight: 500;
    line-height: 39.64px;
    text-align: left;
    color: #ffffff;

}
.campain-text {
    margin-left: 34px;
}
.active-campaign {
    background: linear-gradient(360deg, #2B7FFC 0%, #60EFFF 135.95%);
    color: var(--white);
    padding: 15px 15px 35px 15px
}
.insights-section b {
    font-size: 14.69px;
    font-weight: 400;
    line-height: 25.04px;

}
.p-15x {
    padding: 15px;
}
.active .active-svg {
    filter: brightness(0) invert(1);
}
.accordion-box {
    margin-top: 40px;
}
.Campaign-section button {
    margin-top: 26px;
}
.section-realtime {
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    align-items: end;
}
.ad-section-6-ads-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.ad-section-6-ads-left h1,
.ad-section-6-ads-right h1
{
    font-size: 40.29px;
    font-weight: 600;
    line-height: 44px;
    max-width: 400px;
    color: var(--white);
}
.ad-section-6-ads-left p, .ad-section-6-ads-right p {
    font-size: 15.11px;
    font-weight: 300;
    line-height: 23.5px;
    color: #d0d0d0;
    padding-top: 10px;
    max-width: 389px;
}
.campaign-margin {
    margin-top: 2rem;
}
.hide-for-desktop {
    display: none;
}
.realtime-6-ads-left {
    width: 42%;
    color: #fff;
}
.realtime-6-ads-left h1 {
    padding-top: 6rem;
    font-size: 43px;
    color: var(--white);
    font-weight: 600;
    line-height: 54px;
}
.realtime-6-ads-left p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 330px;
    color: #d0d0d0;
}
.realtime-6-ads-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}
.insight-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}
@media (max-width: 810px){
    .wrapper .container .ads-title span{
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		line-height: 38.83px;
		background: linear-gradient(0deg, #146EF5 0%, #60EFFF 70.76%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .hero-text {
        width: 100%;
        left: 0px;
    }
    .hero-video { 
        width: 100%;
    }
    .ads-title {
        width: 100%;
    }
  
	.overtv-advertise {
        top: 250px;
		right: 4%;
    }
    .hero-video img {
        bottom: -60px;
        left: 60px;
        width: 180px;
        height: 180px;
    }
    .work-title img {
        width: 5%;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 40px;
    }
    .hide-for-desktop {
        display: block;
    }
	.mobile-insight {
		margin-top: 3rem;
	}
    .section-advertiser-1-title {
        padding-top: 25px;
    }
    .wrapper .container .ads-title h1{
		font-size: 28px;
		font-weight: 700;
		line-height: 38.83px;
		color: #fff;
        padding: 0px;
        text-align: center;
	}
    .section-advertiser-1-title img:nth-child(2){
		position: absolute;
        top: 270px;
        left: 1%;
        width: 230px;
        height: 220px;
	}
    .ads-title-under {
        flex-direction: column;
    }
    .hide-for-mobile {
        display: none;
    }
	.hide {
		display: none !important;
	}
    .wrapper .container .title .ads-title-under{
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
    .d-sm-col {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1920px) {
    body.advertise-page {
        background-size: 100% 100% !important;
    }
}
@media screen and (min-width: 1420px) {
    body.advertise-page {
        background-size: 120% 100% !important;
    }
}
@media screen and (min-width: 1200px) {
    body.advertise-page {
        background-size: 120% 100% !important;
    }
}
@media (max-width: 768px){
	.section-advertiser-1-title img:nth-child(2) {
		position: absolute;
        left: 1%;
        width: 110px;
        height: 110px;
    }
    .p-15x {
        padding: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .section-7 h1 {
        text-align: center;
    }
    .pl-2 {
        padding-left: 20px;
    }
    .hero-text { 
        left: 0px;
        line-height: 27px;
        text-align: start;
        padding-bottom: 20px;
    }
    .sm-block p {
        padding-top: 10px;
    }
    .hero-text p {
        font-size: 12px;
        font-weight: 700;
        line-height: 13.15px;

    }
    body { 
        background-image: url('/assets/image/advertiser-iPhone-bg.png') !important; 
        background-position: center 60px !important; 
        overflow-x: hidden;
    }
    .sm-block {
        display: block !important;
    }
    .hero-text span {
        font-size: 22.69px;
        font-weight: 700;
        line-height: 27.23px;
        letter-spacing: -0.03em;
        text-align: left;

    }
    .hero-text h1 {
        font-size: 22.69px;
        font-weight: 700;
        line-height: 27.23px;
        letter-spacing: -0.03em;
        text-align: left;
        max-width: 70%;
    }
    .hero-text button {
        font-size: 7.18px;
        font-weight: 700;
        line-height: 6.73px;
        text-align: center;
    }
    .mobile-ad-image {
        display: flex;
    }
    .insights-section {
        display: flex;
        flex-direction: column;
        margin-top: 14%;
    }
    .schedule-section h2 , .Targeting-section h2{
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        max-width: 250px;
    }
    .Performance-section h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
    .section-8 p {
        max-width: 330px !important;
    }
    .schedule-section p , .Targeting-section p , .Performance-section p {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

    }
    .hero-video img { 
        width: 72px;
        height: 72px;
        bottom: -13px;
        left: 3%;
    }
    .ads-accordion-header p {
        font-size: 14.28px;
        font-weight: 600;
        line-height: 21.77px;
    }
    .image-insight ,.Campaign-section {
        display: none !important;
    }
    .hero-video video {
        width: 90%;
        left: 10%;
        height: 214px !important;
        position: relative;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
    }
    .hero-text, .hero-video {
        width: 100%;
    }
    .control-section {
        margin-top: 3rem;
    }
    .section-8 h1 { 
        font-size: 21px;
    }
    .Campaign-section h1:nth-of-type(1) {
        display: none;
    }
    .ad-section-6 {
        display: none;
    }
    .Campaign-section h1:nth-of-type(2), .Campaign-section button:nth-of-type(1) {
        display: block;
    }
    .work-section p {
        color: var(--white);
        padding-left: 22px;
        padding-top: 5px;
    }
    .mobile-ad-image img {
        width: 100%;
    }
    .active .ads-accordion-header p {
        font-size: 14.28px;
        font-weight: 600;
        line-height: 21.77px;
    }
    .ads-accordion-content p {
        font-size: 8.79px;
        font-weight: 400;
        line-height: 13.18px;
        padding-left: 28px;

    }
	.Campaign-section h1 {
		font-size: 25px;
        text-align: center;
	}
    .ads-section-2 { 
        margin-top: 48px;
    }
    .work-title h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
    }
    .work-title p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .Campaign-section {
        padding: 0px 10px 0px 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Campaign-section button:nth-of-type(1) {
        margin-top: 10px;
    }
    .Campaign-section p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        max-width: 90%;
	}
	.overtv-advertise {
		top: 155px;
		width: 65px;
	}
    .hide-mb {
        display: none;
    }
  }
@media (max-width: 500px) {
	.section-advertiser-1-title video {
		height: inherit !important;
		aspect-ratio: 1 / 0.7 !important;
		width: calc(100% - 40px) !important;
	}
	.section-advertiser-1-title img:nth-child(2) {
        top: 180px;
		width: 100px;
        height: 100px;
    }
}
@media (min-width: 760px) and (max-width: 1080px) { 
    .advertise-page .container {
        width: 780px !important;
    }
     
    .Campaign-section {
        display: flex !important;
    }
    .mobile-ad-image {
        display: none;
    }
    .ad-section-6 ,.hide-mb {
        display: flex;
    }
    .image-insight {
        display:  flex !important;
    }
    .ads-accordion {
        margin: 0px;
    }
    .Campaign-section {
        align-items: start;
    }
    .Campaign-section .btn-trns {
        display: none !important;
    }
    .Campaign-section p {
        text-align: start;
    }
    .hide-for-mobile {
        display: flex;
    }
    .hero-text {
        width: 100%;
        left: 0px;
    }
    .hide-for-desktop {
        display: flex;
        flex-direction: column;
    }
    .work-section {
        padding-top: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 42px;
    }
    .control-section {
        display: none;
    }
    .work-title img {
        width: 6%;
    }
    .hero-video {
        min-height: 400px;
        width: 100%;
        display: flex;
        padding-top: 25px;
        justify-content: end;
    }
    .ads-accordion {
        max-width: 406px;
    }
    .active .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ads-accordion-content p {
        font-size: 10.54px;
        font-weight: 400;
        line-height: 15.8px;
        padding-left: 28px;
    }
    .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ad-section-6 {
        margin-top: 14%;
    }
    .insights-section {
        margin-top: 40px;
        flex-direction: row;
    }
    .accordion-box {
        margin-top: -20px;
    }
    .active .ads-accordion-content {
        padding: 10px 15px 15px 15px;
    }
    .image-insight {
        height: 408px;
        right: 0;
    }
    .hero-text span { 
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;


    }
    .hero-text h1 { 
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;
    }
    .hero-text p {
        font-size: 18px;
        font-weight: 700;
        line-height: 27.49px;

    }
    .wrapper { 
        /* padding: 30px; */
    }
    .image-insight-container { 
        left: 5%;
    }
    .ad-section-6-ads-right img, .realtime-6-ads-right img {
        width: 100%;
    }
    .mac-ads {
        gap: 25px;
    }
    .ad-section-6-ads-left h1, .ad-section-6-ads-right h1 {
        font-size: 26.04px;
        font-weight: 600;
        line-height: 35.97px;
        text-align: left;

    }
    .ad-section-6-ads-right h1, .ad-section-6-ads-right p {
        padding-left: 20%;
    }
    .ad-section-6-ads-left p, .ad-section-6-ads-right p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

    }
    .ad-section-6-ads-right img:nth-of-type(1) {
        display: none;
    }
    .ad-section-6-ads-right img:nth-of-type(2) {
        display: inline;
    }
    .ad-section-6-ads-left img {
        width: 100%;
    }
    .hero-video img {
        width: 129px;
        bottom: -45px;
        left: 23%;
        height: 129px;
    }
    .realtime-6-ads-left h1 {
        font-size: 30.64px;
        font-weight: 600;
        line-height: 38.3px;

    }
    .realtime-6-ads-left p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .realtime-6-ads-right img {
        height: 100%;
    }
    .hero-video video { 
        width: 616px;
        height: 381px !important;
        right: -11%;
    }
    .ads-section-2{
        margin-top: 100px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
    }
    body { 
        background-image: url('/assets/image/advertiser-ipad.png') !important; 
        background-position: center 45px !important; 
    }
}
@media (min-width: 770px) and (max-width: 1080px) {

    .hero-text {
        width: 100%;
        left: 0px;
    }
    .hide-for-desktop {
        display: flex;
        flex-direction: column;
    }
    .work-section {
        padding-top: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 42px;
    }
    .control-section {
        display: none;
    }
    .work-title img {
        width: 6%;
    }
    .hero-video {
        width: 100%;
        width: 100%;
        display: flex;
        padding-top: 25px;
        justify-content: end;
    }
    .ads-accordion {
        max-width: 406px;
    }
    .active .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ads-accordion-content p {
        font-size: 10.54px;
        font-weight: 400;
        line-height: 15.8px;
        padding-left: 28px;
    }
    .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ad-section-6 {
        margin-top: 14%;
    }
    .insights-section {
        margin-top: 40px;
    }
    .accordion-box {
        margin-top: -20px;
    }
    .active .ads-accordion-content {
        padding: 10px 15px 15px 15px;
    }
    .image-insight {
        height: 408px;
        right: -7%;
    }
    .hero-section {
        width: 733px !important;
    }
    .hero-text span { 
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;


    }
    .hero-text h1 { 
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;
    }
    .hero-text p {
        font-size: 18px;
        font-weight: 700;
        line-height: 27.49px;

    }
    .wrapper { 
        /* padding: 30px; */
    }
    .image-insight-container { 
        left: 5%;
    }
    .ad-section-6-ads-right img, .realtime-6-ads-right img {
        width: 100%;
    }
    .mac-ads {
        gap: 25px;
    }
    .ad-section-6-ads-left h1, .ad-section-6-ads-right h1 {
        font-size: 26.04px;
        font-weight: 600;
        line-height: 35.97px;
        text-align: left;

    }
    .ad-section-6-ads-right h1, .ad-section-6-ads-right p {
        padding-left: 20%;
    }
    .ad-section-6-ads-left p, .ad-section-6-ads-right p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

    }
    .ad-section-6-ads-right img:nth-of-type(1) {
        display: none;
    }
    .ad-section-6-ads-right img:nth-of-type(2) {
        display: inline;
    }
    .ad-section-6-ads-left img {
        width: 100%;
    }
    .hero-video img {
        width: 129px;
        bottom: -45px;
        left: 19%;
        height: 129px;
    }
    .Campaign-section p {
        max-width: 88%;
        padding-top: 10px;
    }
    .realtime-6-ads-left h1 {
        font-size: 30.64px;
        font-weight: 600;
        line-height: 38.3px;

    }
    .section-8 {
        padding: 5%;
        margin-top: 4% !important;
        padding-bottom: 0;
    }
    .realtime-6-ads-left p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        max-width: 91%;
    }
    .realtime-6-ads-right img {
        height: 100%;
    }
    .hero-video video { 
        width: 616px;
        height: 381px !important;
        position: absolute;
    }
    .ads-section-2{
        margin-top: 100px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
    }
    body { 
        background-image: url('/assets/image/advertiser-ipad.png') !important; 
        background-position: center 45px !important; 
    }
}