@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body.advertise-page {
	margin: 0;
	padding: 0;
	font-family: "Inter";
	background: #161616;
	/*background-image: url('/assets/image/advertiser-bg.png') !important;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
    overflow-x: hidden;
  }
:root {
	--white: #ffffff;
    --link-color: #0886FB;
    --light-card: #161616;
    --light-dark: #1D1D1D;
    --grey-text: #C4C3C3;
}
.overtv-advertise {
	position: absolute;
    top: 230px;
	width: 15%;
    right: -1%;
    z-index: 9;
}
.advertise-page .wrapper .hero-section .border-shape.shape4:not(.background-blue){
    left: 100px;
    max-width: 1121px;
    height: 594px;
}
.advertise-page .wrapper .hero-section .background-blue {
    height: 60px;
    width: 320px;
    background-color: #1b89e7;
    bottom: -110px;
    left: calc(100% - 210px);
    clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0% 100%);
}

.ads-accordion {
    /* position: absolute; */
    max-width: 600px;
    margin: 15px auto;
}
.advertise-page .wrapper .container > .section-7 {
    align-items: center;
}
.ads-accordion-item {
    border-radius: 20px;
    padding: 20px 10px 5px 0px;
}

.active {
    background: #232323;
    width: 100%;
    min-width: 617px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custon-icon {
    font-size: 20px;
    color: var(--white);
}
.ads-accordion-header {
    /* padding: 0px 15px; */
    cursor: pointer;
    font-weight: bold;
    display: flex;
    gap: 25px;
    align-items: center;
  
}
.section-8 {
    margin-top: 65px !important;
}
.ads-accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.ads-accordion-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24.04px;
    text-align: left;
    color: #CCCCCC;
    padding-left: 28px;
}

.active .ads-accordion-content {
    padding: 15px 15px 5px 15px;
    max-height: 200px;
}
.ads-accordion-header p {
    color: var(--white);
    font-size: 26px;
    font-weight: 600;
    line-height: 39.64px;
    text-align: left;
}

.ads-accordion-item {
    padding: 33px;
}
.hero-video video{
    max-width: 726px;
    height: 439px !important;
    border: 10px solid #020202;
    object-fit: cover;
    background-color: black;
}
.mobile-ad-image {
    display: none;
}
.hero-text {
    position: relative;
    width: 50%;
    align-self: start;
    margin-top: 90px;
}
.advertise-page .wrapper .hero-section .border-shape.shape4:not(.background-blue) {
    left: 50%;
    max-width: 1121px;
    height: calc(100% + 100px);
    transform: skewX(-10deg) translateX(-50%);
    border-width: 3px;
    bottom: -100px;
    top: 0;
    background-color: #161616;
}
.container.hero-section {
    position: relative;
}


.hero-video img {
    position: absolute;
    bottom: -55px;
    z-index: 9;
    left: -46px;
    width: 198px;
    height: 197px;
}
.hero-text span {
    font-size: 44px;
    font-weight: 700;
    display: block;
    min-width: 525px;
    line-height: 46.74px;
    letter-spacing: -0.03em;
    text-align: left;
    background: #007AFE;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text button {
    width: 100%;
    max-width: 173.59px;
    height: 41px;
    /* padding:  10px 15px 10px 15px; */
    background: #007AFE;
    color: var(--white);
    border: 0px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.94px;
    letter-spacing: 0.5px;
}
.hero-text p {
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    line-height: 19.85px;
}
.hero-container {
    display: flex;
    margin-top: 10%;
    align-items: center ;
}
.hero-text h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 123%;
    text-align: left;
    color: #EEEEEE;
    letter-spacing: -0.03em;
}
.ad-section-6 {
    display: flex;
    margin-top: 20%;
    gap: 57px;
}
.hero-video {
    position: relative;
    width: 57%;
    left: 2%;
}
.control-section p {
    color: var(--grey-text);
    padding-top: 10px;
}
.ad-section-img{
    width: 468px;
    height: 300px;

}
.ad-section-6-ads-right img:nth-of-type(2) {
    /* display: none; */
}
.control-section h2 {
    color: var(--white);
}
.ads-title {
    padding-top: 5%;
    width: 50%;
}
.wrapper .container {
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
}
.wrapper .container .ads-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    text-align: start;
    color: #ffffff;
    margin: 0;
}
.advertise-page .border-shape{
    display: none !important;
}
.advertise-page .wrapper .container > div {
    max-width: 1245px;
}
.advertise-page .wrapper .container .advertiser_block_section {
    padding: 0 132px;
}
.advertise-page .wrapper .container .advertiser_block_section .ads-section-container > div {
    display: flex;
    gap: 45px;
    margin-top: 40px;
}
.advertise-page .wrapper .container .advertiser_block_section .ads-section-container .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
 
}


.insights-section {
    display: flex;
    width: 100%;
    max-width: 982px;

}
.ads-section-2 .border-shape.shape3{
    margin-top: 550px;
    left: -145%;
}
.image-insight-container .border-shape.shape2{
    height: 732px;
    right: -85%;
    margin-top: 200px;
    z-index: -1;
}
.ad-section-6 .ad-section-6-ads-left .border-shape.shape3{
    left: -57%;
    height: 540px;
    margin-top: 211px;
    z-index: -1;
}
.section-realtime .realtime-6-ads-right .border-shape.shape2{
    right: -88%;
    height: 760px;
    margin-top: 50px;
    z-index: -1;
}
.section-8 .faq-title .border-shape.shape3{
    top: 100px;
    left: -135%;
    height: 400px;
}
.section-8 .faq-btn button:first-child{
    min-width: 207px;
    height: 34px;
    padding: 0px 19px;
    white-space: nowrap;
}
.section-8 .section-8-wrapper .border-shape.triangle{
    right: -156%;
    top: 20px;
    transform: rotate(45deg);
}

.overtv-finance {
    position: absolute;
    right: 67%;
    top: 220px;
    bottom: -28px;
    z-index: 2;
    border-radius: 10px;
    width: 210px;
    height: 200px;
}
.ads-title-under{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}
.ads-section-2 {
    margin-top: 150px;
    margin-left:280px ;
}
.Campaign-section {
    width: 100%;
    margin: 0 auto;
}
.Campaign-section h1{
    color: var(--white);
    font-size: 44px;
    font-weight: 600;
    line-height: 54.15px;
    padding-top: 30px;
    letter-spacing: -0.02em;
}
.ads-title-under p {
    font-weight: 400;
}
.Campaign-section p {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 31.7px;
    text-align: left;
    color: #ffffff99;
    max-width: 754px;
    margin-top: 20px;
    letter-spacing: 0.1px;
}

.ads-title-under p {
    color: var(--grey-text);
    font-size: 14px;
    max-width: 68%;
}
.Campaign-section h1:nth-of-type(2), .Campaign-section button:nth-of-type(1) {
    display: none;
}
.image-insight {
    position: absolute;
    top: 1050px;
    right: -308px;
    max-width: 784px;
    max-height: 731px;
}
.image-insight-container {
    display: flex;
    justify-content: end;
    left: 9%;
}
.campaign-manage {
    margin-top: 5rem;
}
.ad-section-6-ads-left {
    width: 100%;
    max-width: 501px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #fff;
}
/* .insights-section p {
    font-size: 24px;
    font-weight: 600;
    line-height: 39.64px;

} */
.active .ads-accordion-header p {
    font-size: 26px;
    font-weight: 500;
    line-height: 39.64px;
    text-align: left;
    color: #ffffff;
    margin-top: -10px;

}
.campain-text {
    margin-left: 34px;
}
.active-campaign {
    background: linear-gradient(360deg, #2B7FFC 0%, #60EFFF 135.95%);
    color: var(--white);
    padding: 15px 15px 35px 15px
}
.insights-section b {
    font-size: 14.69px;
    font-weight: 400;
    line-height: 25.04px;

}
.p-15x {
    padding: 15px;
}
.active .active-svg {
    filter: brightness(0) invert(1);
}
.accordion-box {
    margin-top: 50px;
}
.Campaign-section button {
    margin-top: 20px;
    font-size: 16px !important;
}
.section-realtime {
    padding: 10px 0 10px 0;
    width: 100%;
    max-width: 982px;
    display: flex;
    align-items: end;
}
.ad-section-6-ads-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* margin-top: 50px; */
}
.ad-section-6-ads-left h1,
.ad-section-6-ads-right h1
{
    font-size: 44px;
    font-weight: 600;
    line-height: 37.6px;
    max-width: 400px;
    color: var(--white);
    letter-spacing: -0.02em;
}
.ad-section-6-ads-left p, .ad-section-6-ads-right p {
    font-size: 20px;
    font-weight: 300;
    line-height: 23.5px;
    color: #CCCCCC;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 393px;
}
.campaign-margin {
    margin-top: 2rem;
}
.hide-for-desktop {
    display: none;
}
.realtime-6-ads-left {
    width: 35%;
    color: #fff;
}
.footer-border {
    margin-left: 0px!important;
}
.realtime-6-ads-left h1 {
    padding-top: 25px;
    font-size: 44px;
    color: var(--white);
    font-weight: 600;
    line-height: 51.6px;
    letter-spacing: -0.02px;
}
.realtime-6-ads-left p {
    font-size: 20px;
    font-weight: 300;
    line-height: 25.2px;
    color: #CCCCCC;
    max-width: 396px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.realtime-6-ads-right {
    width: 100%;
    max-width: 624px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
    position: relative;
}
.insight-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}
.ad-section-6 {
    width: 100%;
    max-width: 982px;
    margin: 0 auto;
}
.section-7 {
    width: 100%;
    max-width: 982px;
    margin: 0 auto;
    padding: 65px 12px 3px 12px;
}
.advertiser_block_section .section-7 h1 {
    padding: 25px 0 !important;
    margin-bottom: unset;
    line-height: 53px;
}
.advertiser_block_section .section-7 > button {
    line-height: 0px;
    padding: 15px 18px;
}
.section-7 h1 {
    max-width: 629px !important;
}
.section-7 .section-7-card:nth-child(1),.section-7 .section-7-card:nth-child(2),.section-7 .section-7-card:nth-child(3){
height: 363px !important;
max-width:305px !important ;
}
.section-7 .section-7-card:nth-child(1) p, .section-7 .section-7-card:nth-child(3) p {
    margin-top: -50px !important;
}
.realtime-6-ads-left > .site-btn{
    border-radius: 3.6px;
    min-width: 187px;
}
.section-7-card .center-div .card-text-content{
    display: flex;
    flex-direction: column;
}
.section-7-card .center-div .card-text-content > b{
   font-size: 30.75px;
   line-height: 34px !important;
   margin-top: 10px !important;
}
.section-7 .section-7-card:nth-child(2) span {
    line-height: 34px !important;
}
.section-7 .section-7-card:nth-child(2) {
    padding: 30px !important;
}
.section-7-card .center-div .card-text-content span strong{
    font-size: 15.5px;
}
.section-7-card-group .section-7-card .center-div.advertiser > p{
    font-size: 12px;
    margin-top: 2px !important;
    width: 96%;
}

.site-btn2 {
    width: 100%;
    max-width: 186.67px;
    height: 42.33px;
    border-radius: 3.6px;
    background: linear-gradient(360deg, #027AFF 0%, #10A3FB 70.76%);
    border: none;
    color: white;
    font-size: 14.41px;
    font-weight: 600;
    line-height: 13.5px;
    margin-top: 10px;
}

.active .ads-accordion-header p {
    white-space:nowrap;
}
.scale2{
    width: 100%;
    max-width: 207px;
    height: 35px;
    color: #0886FB;
    border: 1px solid #0886FB;
    background: none;
    border-radius: 5.68px;
    font-size: 16.36px;
    letter-spacing: -0.31px;
}
@media (max-width: 810px){
    .wrapper .container .ads-title span{
		font-size: 28px;
		font-weight: 700;
		text-align: center;
		line-height: 38.83px;
		background: linear-gradient(0deg, #146EF5 0%, #60EFFF 70.76%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
    .hero-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .hero-text {
        width: 100%;
        left: 0px;
    }
    .hero-video {
        width: 100%;
    }
    .ads-title {
        width: 100%;
    }

	.overtv-advertise {
        top: 250px;
		right: 4%;
    }
    .hero-video img {
        bottom: -60px;
        left: 60px;
        width: 180px;
        height: 180px;
    }
    .work-title img {
        width: 5%;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 40px;
    }
    .hide-for-desktop {
        display: none;
    }
    .ad-section-6-ads-left h1, .ad-section-6-ads-right h1 {
        font-size: 28px;
    }
    .ad-section-6-ads-left p, .ad-section-6-ads-right p {
        font-size: 14px;
        padding-bottom: 0px;
        width: 342px;
    }
    .realtime-6-ads-left h1 {
        font-size: 28px;
        line-height: 32px;
        padding-top: 31px;
    }
    .realtime-6-ads-left p {
        font-size: 16px;
        line-height: 18px;
    }
    .realtime-6-ads-left p {
        padding-top: 25px !important;
    }
    .realtime-6-ads-right {
        align-items: start;
        margin-top: 0px;
    }    .realtime-6-ads-right img{
        width: 100%;
        height: 220px;
    }
    .ad-section-6-ads-right  img{
        width: 100%;
        height: 220px;
    }
    .ad-section-img {
        max-width: 100%;
        height: 220px;
    }
    .section-realtime{
        flex-direction: column-reverse !important;
    }
    .advertise-page .wrapper .container .advertiser_block_section .ads-section-container > div{
        flex-direction: column;
        gap:30px;

    }
	.mobile-insight {
		margin-top: 3rem;
	}
    .section-advertiser-1-title {
        padding-top: 25px;
    }
    .wrapper .container .ads-title h1{
		font-size: 28px;
		font-weight: 700;
		line-height: 38.83px;
		color: #fff;
        padding: 0px;
        text-align: center;
	}
    .section-advertiser-1-title img:nth-child(2){
		position: absolute;
        top: 270px;
        left: 1%;
        width: 230px;
        height: 220px;
	}
    .ads-title-under {
        flex-direction: column;
    }
    .hide-for-mobile {
        display: none;
    }
	.hide {
		display: none !important;
	}
    .wrapper .container .title .ads-title-under{
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
    .d-sm-col {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1920px) {
    body.advertise-page {
        background-size: 100% 100% !important;
    }
}
@media screen and (min-width: 1420px) {
    body.advertise-page {
        background-size: 100% 100% !important;
    }
}
@media screen and (min-width: 1200px) {
    body.advertise-page {
        background-size: 101% 115% !important;
    }
    .hero-video .video{
        max-width: 706px;
    }
    .image-insight{
        top: 160px;
        /* right: -408px; */
        max-width: 784px;
        height: 731px;
    }
    .ads-section-2{
        position: relative;
    }
    .ad-section-6{
        margin-top: 300px;
    }
    body .wrapper{
        overflow: hidden;
    }
}
@media (max-width: 768px){
	.section-advertiser-1-title img:nth-child(2) {
		position: absolute;
        left: 1%;
        width: 110px;
        height: 110px;
    }
    .p-15x {
        padding: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .section-7 h1 {
        text-align: center;
    }
    .pl-2 {
        padding-left: 20px;
    }
    .hero-text {
        left: 0px;
        line-height: 27px;
        text-align: start;
        padding-bottom: 20px;
    }
    .sm-block p {
        padding-top: 10px;
    }
    .hero-text p {
        font-size: 12px;
        font-weight: bold;
        line-height: 13.15px;
        margin-top: 10px;

    }
    body {
        /*background-image: url('/assets/image/advertiser-iPhone-bg.png') !important;*/
        background-position: center 60px !important;
        overflow-x: hidden;
    }
    .scale{
        height: 21px !important;
        width:155px !important;
        font-size: 14px !important;
    }
    .advertiser_block_section .section-7 h1 {
        font-size: 28px;
        line-height: 34px;
        text-align: start;
        width: 72%;
    }
    .section-7 .section-7-card:nth-child(1) h3 {
        margin-top: 0px !important;
        padding-left: 10px !important;
        padding-top: 0px !important;
        line-height: 15px !important;

    }
    .faq-btn .scale{
        width: 217px !important;
    }
    .section-7 .section-7-card:nth-child(3) h3 {
        margin-top: -11px !important;
        margin-left: -17px;
        padding: 10px;
    }
    .section-7 .section-7-card:nth-child(3) p {
        display: none;
    }
    .section-7 .section-7-card:nth-child(1) p {
        display: none;
    }
    .section-7 .section-7-card:nth-child(2) span {
        line-height: 12px !important;
    }

    .section-7-card .center-div .card-text-content > b {
        font-size: 18px;
        line-height: 30px;
    }
    .section-7-card .center-div .card-text-content span strong {
        font-size: 10px;
    }
    .section-7-card-group .section-7-card .center-div.advertiser > p {
        font-size: 8px;
        width: 90%;
    }
    .wrapper{
        padding: 0px 20px;
    }
    .sm-block {
        display: block !important;
    }
    .hero-text span {
        font-size: 22.69px;
        font-weight: 700;
        line-height: 27.23px;
        letter-spacing: -0.03em;
        text-align: left;
        min-width: unset
    }
    .advertise-page .wrapper .hero-section .border-shape.shape4{
        left: 0px;
        height: 280px;
        width: 380px;
    }
    .hero-video video{
        border: 0;
        left: 15% !important;
    }
    .ad-section-6-ads-right {
        width: 100%;
    }
        .mobile-ad-image img{
        position: relative;
        left: 8%;
    }
    .hero-video .border-shape.shape5{
        top: -120px;
        left: -50px;
    }
    .hero-video img{
        left: 7%;
    }
    .hero-text button{
        width: 165px;
        height: 36px;
        border-radius: 12px;
        font-size: 14px;
    }
    .hero-container .spaces{
        margin: 10px 0;
        gap: 10px
    }
    .ads-accordion-header {
        gap: 18px;
    }
    .ads-accordion-content p{
        margin-top: 5px;
    }
    .custon-icon{
        font-size: 10px;
    }
    .hero-text h1 {
        font-size: 19.24px;
        font-weight: 700;
        line-height: 24.23px;
        letter-spacing: -0.03em;
        text-align: left;
        max-width: 77%;
       
    }
    .hero-text button {
        font-size: 14px;
        font-weight: 700;
        line-height: 6.73px;
        text-align: center;
        padding: 12px 13px;
    }
    .mobile-ad-image {
        display: flex;
    }
    .insights-section {
        display: flex;
        flex-direction: column;
        width: unset !important;
    }
    .insights-section .accordion-box{
        display: flex;
    }
    .schedule-section h2 , .Targeting-section h2{
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
        max-width: 250px;
    }
    .Performance-section h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
    .section-7 {
        padding-top: 40px;
    }
    .section-8 p {
        max-width: 336px !important;
    }
    .schedule-section p , .Targeting-section p , .Performance-section p {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;

    }
    .hero-video img {
        width: 72px;
        height: 72px;
        bottom: -2px;
        left: 3%;
    }
    .ads-accordion-header p {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.77px;
    }
    .image-insight ,.Campaign-section {
        display: none !important;
    }
    .hero-video video {
        width: 90%;
        left: 10%;
        height: 214px !important;
        position: relative;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
    }
    .hero-text, .hero-video {
        width: 100%;
    }
    .control-section {
        margin-top: 30.11px;
    }
    .section-8 h1 {
        font-size: 21px;
    }
    .Campaign-section h1:nth-of-type(1) {
        display: none;
    }
    .ad-section-6 {
        /* display: none; */
    }
    .Campaign-section h1:nth-of-type(2), .Campaign-section button:nth-of-type(1) {
        display: block;
    }
    .work-section p {
        color: var(--white);
        padding-left: 22px;
        padding-top: 5px;
    }
    .mobile-ad-image img {
        width: 103%;
    }
    .active .ads-accordion-content {
        padding: 5px 27px;
    }
    .active .ads-accordion-header p {
        font-size: 16px;
        font-weight: 600;
        line-height: 21.77px;
        margin-top: 0px;
    }
    .ads-accordion-content p {
        font-size: 12px;
        font-weight: 400;
        line-height: 13.18px;
        padding-left: 0px;

    }
    .hero-text span {
        background: #007AFE;
        background-clip: text;
    }
	.Campaign-section h1 {
		font-size: 25px;
        text-align: center;
	}
    .ads-section-2 {
        margin-top: 48px;
        margin-left: 0px ;
    }
    .mobile-ad-image img{
        left: 2%;
    }
    .ads-accordion-item {
        padding: 20px;
    }
    .active {
        margin-bottom: 10px;
    }
    .advertise-page .wrapper .container .advertiser_block_section .ads-section-container > div {
        margin-top: 10px;
    }
    .section-7 .section-7-card:nth-child(2) {
        height: 192px !important;
    }
    .section-7-card-group .section-7-card{
        min-width: 159px !important;
    }
    .hero-video video{
        left: 13% !important;
    }
    .advertiser_block_section .section-7 > button {
        padding: 15px 0px;
    }
    .section-7-card .center-div .card-text-content > b {
        margin-top: 0px !important;
    }
    .section-7 .section-7-card:nth-child(1) h3 {
        width: 100% !important;
        padding-left: 0px !important;
    }
    #advertiser_mb_h3 {
		line-height: 16px !important;
		width: 83% !important;
		margin-top: -8px !important;
	}
    .section-8 {
        margin-top: 40px !important;
    }
    .work-title h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
    }
    .work-title p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    .Campaign-section {
        padding: 0px 10px 0px 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .Campaign-section button:nth-of-type(1) {
        margin-top: 10px;
    }
    .Campaign-section p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        max-width: 90%;
	}
	.overtv-advertise {
		top: 155px;
		width: 65px;
	}
    .accordion{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .accordion-title{
        width: 91% !important;
    }
    .footer-subscription .mb-button {
        height: 40px !important;
    }
    .hide-mb {
        display: none;
    }
    .hero-video  video {
        right: -20%;
    }
}
@media (max-width: 500px) {
	.section-advertiser-1-title video {
		height: inherit !important;
		aspect-ratio: 1 / 0.7 !important;
		width: calc(100% - 40px) !important;
	}
    .ads-accordion {margin-top: 5px !important;}
	.section-advertiser-1-title img:nth-child(2) {
        top: 180px;
		width: 100px;
        height: 100px;
    }
    .footer-subscription .mb-button > button {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .hero-container {
        margin-top: 0%;
    }
    .hero-text span {
        font-size: 28px;
    }
    .hero-text h1 {
        font-size: 24.5px;
        line-height: 120%;
    }
    .hero-text {
        margin-top: 39px;
    }
    .hero-container .spaces {
        flex-direction: column;
        align-items: start;
        margin-top: 20px;
    }
    .ads-accordion .ads-accordion-item.active{
        min-width: 339px;
        max-height: 99px;
        padding-top: 12px ;
        padding-bottom: 18px;
    }
    .section-7 {
        /*margin-left: 27px !important;*/
    }
    .section-7 .section-7-card-group{
        gap: 8px;
    }
    .ad-section-6 {
        display: flex;
        flex-direction: column;
    }
    .ad-section-6-ads-right {
width: 100%;
margin-top: 0px;
    }
    .advertise-page .wrapper .container .advertiser_block_section {
        padding: 0px 10px !important;
        
    }
  
    .realtime-6-ads-left {
        width: 100%;
        padding-left: 0px !important;
        

    }
}
@media (min-width: 760px) and (max-width: 1080px) {
    .advertise-page .wrapper .hero-section .border-shape.shape4{
        left: 22px;
        max-width: 800px;
        height: 400px;
    }
    .advertise-page .container {
        width: 780px !important;
    }
    .wrapper .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .Campaign-section {
        display: flex !important;
    }
    .mobile-ad-image {
        display: none;
    }
    .ad-section-6 ,.hide-mb {
        display: flex;
    }
    .ad-section-6-ads-right > h1 {
        white-space:  nowrap;
    }
    .ad-section-6 .ad-section-6-ads-left .border-shape.shape3{
        left: -96%;
        height: 1000px;
        margin-top: -380px;
        z-index: -1;
        transform: skew(-8deg);
    }
    .image-insight-container .border-shape.shape2 {
        height: 632px;
        right: -75%;
    }
    .section-realtime .realtime-6-ads-right .border-shape.shape2{
        right: -117%;
        border-top-left-radius: 50px;
    }
    .image-insight {
        display:  flex !important;
    }
   .wrapper .container.footer-container{
        background: transparent;
    }
    .ads-accordion {
        margin: 0px;
    }
    .Campaign-section {
        align-items: start;
    }
    .Campaign-section .btn-trns {
        display: none !important;
    }
    .Campaign-section p {
        text-align: start;
    }
    .hide-for-mobile {
        display: flex;
    }
    .hero-text {
        width: 100%;
        left: 0px;
    }
    .hide-for-desktop {
        display: flex;
        flex-direction: column;
    }
    .work-section {
        padding-top: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 42px;
    }
    .control-section {
        display: none;
    }
    .work-title img {
        width: 6%;
    }
    .hero-video {
        min-height: 400px;
        width: 100%;
        display: flex;
        padding-top: 25px;
        justify-content: end;
    }
    .ads-accordion {
        max-width: 406px;
    }
    .active .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ads-accordion-content p {
        font-size: 10.54px;
        font-weight: 400;
        line-height: 15.8px;
        padding-left: 28px;
    }
    .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ad-section-6 {
        margin-top: 14%;
    }
    .insights-section {
        /* margin-top: 40px; */
        flex-direction: row;
    }
    .accordion-box {
        margin-top: -20px;
    }
    .active .ads-accordion-content {
        padding: 10px 15px 15px 15px;
    }
    .image-insight {
        height: 408px;
        right: 0;
    }
    .hero-text span {
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;


    }
    .hero-text h1 {
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;
    }
    .hero-text p {
        font-size: 18px;
        font-weight: bold;
        line-height: 27.49px;

    }
    .wrapper {
        /* padding: 30px; */
    }
    .image-insight-container {
        left: 5%;
    }
    .ad-section-6-ads-right img, .realtime-6-ads-right img {
        width: 100%;
    }
    .mac-ads {
        gap: 25px;
    }
    .ad-section-6-ads-left h1, .ad-section-6-ads-right h1 {
        font-size: 26.04px;
        font-weight: 600;
        line-height: 35.97px;
        text-align: left;

    }
    .ad-section-6-ads-right h1, .ad-section-6-ads-right p {
        padding-left: 20%;
    }
    .ad-section-6-ads-left p, .ad-section-6-ads-right p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

    }
    .ad-section-6-ads-right img:nth-of-type(1) {
        /* display: none; */
    }
    .ad-section-6-ads-right img:nth-of-type(2) {
        display: inline;
    }
    .ad-section-6-ads-left img {
        width: 100%;
    }
    .hero-video img {
        width: 129px;
        bottom: -45px;
        left: 23%;
        height: 129px;
    }
    .realtime-6-ads-left h1 {
        font-size: 30.64px;
        font-weight: 600;
        line-height: 38.3px;

    }
    .realtime-6-ads-left p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .realtime-6-ads-right img {
        height: 100%;
    }
    .hero-video video {
        width: 616px;
        height: 381px !important;
    }
    .ads-section-2{
        margin-top: 100px;
        margin-left: 0px !important;
    }
    .ads-section-2 .Campaign-section{
        flex-direction: column;
    }
    .ads-section-2 .image-insight-container .image-insight{
        margin-top: 73px;
        right: -16px;
        width: 395px;
    }
    .ads-accordion .ads-accordion-item.active{
        min-width: 406px;
        height: 118px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
    }
    .section-7-card-group .section-7-card{
        max-width: 231px;
    }
    body {
        /*background-image: url('/assets/image/advertiser-ipad.png') !important;*/
        background-position: center 45px !important;
    }
}
@media (min-width: 770px) and (max-width: 1080px) {

    .hero-text {
        width: 100%;
        left: 0px;
        margin-top: 41px;
    }
    .hide-for-desktop {
        display: flex;
        flex-direction: column;
    }
    .work-section {
        padding-top: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 42px;
    }
    .control-section {
        display: none;
    }
    .work-title img {
        width: 6%;
    }
    .hero-video {
        width: 100%;
        width: 100%;
        display: flex;
        padding-top: 25px;
        justify-content: end;
    }
    .ads-accordion {
        max-width: 406px;
    }
    .active .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ads-accordion-content p {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.8px;
        padding-left: 28px;
    }
    .ads-accordion-header p {
        font-size: 17.12px;
        font-weight: 600;
        line-height: 26.1px;
    }
    .ad-section-6 {
        margin-top: 14%;
    }
    .insights-section {
        /* margin-top: 40px; */
    }
    .accordion-box {
        margin-top: 60px;
    }
    .active .ads-accordion-content {
        padding: 10px 15px 15px 15px;
    }
    .image-insight {
        height: 408px;
        right: -7%;
    }
    .hero-section {
        width: 733px !important;
    }
    .hero-text span {
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;


    }
    .hero-text h1 {
        font-size: 47.45px;
        font-weight: 700;
        line-height: 56.94px;
    }
    .hero-text p {
        font-size: 18px;
        font-weight: 700;
        line-height: 27.49px;

    }
    .wrapper {
        /* padding: 30px; */
    }
    .image-insight-container {
        left: 5%;
    }
    .ad-section-6-ads-right img, .realtime-6-ads-right img {
        width: 100%;
    }
    .mac-ads {
        gap: 25px;
    }
    .ad-section-6-ads-left h1, .ad-section-6-ads-right h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 40.97px;
        text-align: left;
        width: 300px;
    }
    .ad-section-6-ads-right h1, .ad-section-6-ads-right p {
        padding-left: 20%;
    }
    .ad-section-6-ads-left p, .ad-section-6-ads-right p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        padding: 15px 0;
        width:310px;

    }
    .ad-section-6-ads-right img:nth-of-type(1) {
        /* display: none; */
        width: 369px !important;
        height: 216px !important;
    }
    .ad-section-6-ads-right {
        margin-top: 20px;
    }
    .section-7 .section-7-card:nth-child(1) p, .section-7 .section-7-card:nth-child(3) p {
        margin-top: 0px !important;
    }
    .section-7-card .center-div .card-text-content > b {
        line-height: 19px !important;
    }
    .section-7 .section-7-card:nth-child(2) span {
        line-height: 24px !important;
       
    }
    .advertise-page .wrapper .container .advertiser_block_section {
        padding: 20px;
    }
    .br-lang .section-7 .section-7-card:nth-child(3) h3 {
        padding-left: 0px !important;
        width: 95%;
        margin-top: -32px !important;
    }
    .br-lang .section-7 .section-7-card:nth-child(1) h3 {
        padding-left: 0px !important;
        width: 95%;
        margin-top: -32px !important;
    }
    .section-7 .section-7-card:nth-child(1), .section-7 .section-7-card:nth-child(2), .section-7 .section-7-card:nth-child(3) {
        height: 265px !important;
    }
    .section-7 .section-7-card:nth-child(3) p {
        padding-left: 0px !important;
    }
    .section-7 .section-7-card:nth-child(1) p {
        padding-left: 0px !important;
    }
    .ad-section-6-ads-right img:nth-of-type(2) {
        display: inline;
    }
    .ad-section-6-ads-left img {
        width: 100%;
    }
    .hero-video img {
        width: 129px;
        bottom: -7px;
        left: 14%;
        height: 129px;
    }
    .Campaign-section p {
        max-width: 86%;
        padding-top: 10px;
        font-size: 18px;
        line-height: 30px;
    }
    .realtime-6-ads-left h1 {
        font-size: 30.64px;
        font-weight: 600;
        line-height: 38.3px;
        width: 320px;

    }
    .section-7 h1 {
        font-size: 33px !important;
        line-height: 38px !important;
        width: 470px;
    }
    .section-8 {
        padding: 5%;
        margin-top: 0% !important;
        padding-bottom: 0;
    }
    .footer-container p {
        font-size: 10px;
    }
    .realtime-6-ads-left p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        width: 312px;
    }
    .realtime-6-ads-right img {
        height: 100%;
        width: 338px;
    }
    .realtime-6-ads-right {
        align-items: start;
        width: auto;
    }
    .footer-subscription {
        max-width: 680px !important;
        font-size: 13px;
       
    } 
    .footer-subscription    .section-subscription {
        padding: 12px 8px!important;
    }
    .footer-subscription  .header-title button {
        padding: 6px 32px !important;
        height: 30px;
        line-height: 12px;
    }
    .hero-video video {
        width: 78%;
        right: 20px;
        height: 381px !important;
        position: absolute;
    }
    .hero-video .border-shape.shape5{
        top: -252px;
        transform: translate(-50%);
    }
    .ads-section-2{
        margin-top: 30px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 60px;
    }
    body {
        /*background-image: url('/assets/image/advertiser-ipad.png') !important;*/
        background-position: center 45px !important;
    }
    .Campaign-section h1 {
        width: 62%;
        font-size: 40px;
        padding-top: 0px;
    }
}

.section-subscription {
    width: 100%;
    max-width: 1116px;
    height: 73px;
}

.header-title {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.header-title button {
    width: auto;
    max-width: 367px;
    height: 41px;
    color: var(--white);
    background: linear-gradient(180deg, #00A3FB 0%, #0077FF 100%);
    border-radius: 10.69px;
    padding: 8px 40px 10px 40px;
    border: 0px;
    font-size: 16.2px;
    font-weight: 500;
    line-height: 26.61px;
}

.section-10 {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-10-header {
    width: 100%;
    max-width: 988px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #474747;
}

@media (min-width: 1080px) {
    .ad-section-6-ads-right {
        width: 43%;
    }
    .ad-section-6-ads-left {
        width: 49%;
        max-width: unset;
    }
    .ad-section-6-ads-left p, .ad-section-6-ads-right p, .ad-section-6-ads-left h1, .ad-section-6-ads-right h1 {
        max-width: unset;
    }

    .realtime-6-ads-left {
        width: 49%;
    }

    .realtime-6-ads-right {
        width: 51%;
        max-width: unset;
    }

    .advertise-page .wrapper .container > .section-7 {
        max-width: 982px;
        align-items: start;
    }

    .ads-section-2 .border-shape.shape3 {
        margin-top: 50%;
        width: 300px;
        left: -55%;
        border-width: 3px;
    }

}