@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins"!important;
}
body.channel {
	margin: 0;
	padding: 0;
	font-family: "Poppins";
	background: #161616;
	/*background-image: url('/assets/image/Channels-bg.png') !important;*/
	background-size: 1900px 3672.73px;;
	background-repeat: no-repeat;
	height: 100%;
	background-position: center 10px; 
    overflow-x: hidden;
  }
body.channel .wrapper .container{
    position: relative;
}
body.channel .wrapper .container .border-shape.shape3 , .border-shape.shape2{
    height: 702px;
    top: 1012px;
    left: -3%;
    width: 200px;
    z-index: -1;
}
.footer-subscription .section-10 {
    position: relative;
}

body.channel .wrapper .container .border-shape.shape2{
    right: -3%;
    width: 200px;
    left: unset;
}

body.channel .section-10 .border-shape.shape2{
    bottom: 360px;
    width: 200px;
    left: unset;
    height: 160px;
    right: -7% !important;
}
  .hero-channel {
    height: 574px;
  }
  .bg-video {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 574px;
    object-fit: cover;
    z-index: -1; 
    opacity: 0.2;
}
:root {
	--white: #ffffff;
    --link-color: #0886FB;
    --light-card: #161616;
    --light-dark: #1D1D1D;
    --grey-text: #C4C3C3;
}
.hero-content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 500px;
    letter-spacing: -2px;
    padding-top: 63px;
    padding-left: 8px;
}
.hero-content h1 {
    font-size: 67.59px;
    font-weight: 800;
    line-height: 77.59px;

}
.video-content {
    width: 100%;
    max-width: 988px;
    background: var(--light-dark);
    border-radius: 9.89px;
    display: flex;
    padding: 70px 40px 40px 40px;
    align-items: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.blue-circle {
    background: linear-gradient(180deg, #00A3FB 0%, #0077FF 100%);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.blue-wd-5 {
    width: 37px;
    height: 37px;
    margin-bottom: 6px;
    margin-left: 30px;
}
.blue-wd-5 img{
    width: 17px;
}
.mobile-service-section {
    display: none;
}
.service-section {
    display: flex;
    width: 100%;
    max-width: 988px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.content-service {
    background-color: var(--light-dark);
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
}

.service-icon {
    width: 37px;
    height: 37px;
    margin-top: 20px;
}
.sevice-text {
    padding: 13px;
}
.service-img {
    display: flex;
    align-items: flex-end;
}
.service-img img {
    border-radius: 10px 10px 0 0;
    max-height: 250px;
}
.moretv-section {
    width: 100%;
    max-width: 1025px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}
.moretv-section h3 {
    color: rgba(255, 255, 255, 0.88);
    font-size: 18px;
    padding-left: 15px;
    font-weight: 700;
    line-height: 21.88px;
}
.card-text-tv h2 {
    color: var(--grey-text);
    font-size: 14.45px;
    font-weight: 600;
    line-height: 14.93px;
    text-align: left;
    margin-bottom: 5px;
}
.card-text-tv h4 {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.88);
    line-height: 16.34px;
    text-align: left;
    margin-bottom: 6px;
    padding-top: 8px;
}
.mb-button {
    display: none;
}
.moretv-card {
    width: 235px;
    overflow: hidden;
}
.moretv-card img{
    border-radius: 10px!important;
}
.btn-outline {
    width: 100%!important;
    max-width: 186px!important;
    height: 25.74px!important;
    font-size: 13.52px!important;
    padding: 0!important;
}
.moretv-content {
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 17px; 
    margin-bottom: 20px;
}
.group-2 {
    margin-top: 40px !important;
}
.card-text-tv p {
    font-size: 13.96px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.sevice-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.7px;
    margin-bottom: 8px!important;
    text-align: center;
    color: var(--grey-text)
}
.addition-content, .content-inner {
    width: 50%;
}
.addition-content {
    text-align: left;
}
.left_image_1 {
    border-radius: 5px !important;
}
.hero-content span {
    font-size: 67.59px;
    font-weight: 800;
    line-height: 64.59px;
    text-align: center;
    background: linear-gradient(0deg, #146EF5 0%, #60EFFF 70.76%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0rem;
}

.hero-content button {
    width: 224px;
    height: 42px;
    padding: 4px 18px 5px 18px;
    background: linear-gradient(360deg, #1367e5 0%, #099DFB 58.95%);
    color: var(--white);
    border: 0px;
    border-radius: 12.2px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px !important;
    letter-spacing: 0.1px;
}
.content-card {
    width: 100%;
    max-width: 392px;
    background-color: var(--light-card);
    box-shadow: 0px 7.13px 7.13px 0px #02020250;
    border: 0.10px solid #1c1b1b;
    background-color: #131313;
    padding: 24px 15px 15px 15px;
    border-radius: 7.22px;
    margin-left: 62px;
}
.content-card h1 {
    color: var(--grey-text);
    font-size: 26px;
    text-align: start;
    padding-bottom: 10px;
}
.content-card video {
    border-radius: 5.72px;
}
button {
    padding:  10px 15px 10px 15px;
    background: linear-gradient(360deg, #2B7FFC 0%, #60EFFF 135.95%);
    color: var(--white);
    border: 0px;
    border-radius: 4px;
}

h1, p {
    color: var(--white);
}
.hero-content p {
    max-width: 765px;
    color: var(--white);
    opacity: 60%;
    font-size: 17px;
    font-weight: 300;
    line-height: 27.37px;
    padding-top: 26px;
    letter-spacing: 0.5px;
}
.video-content h2 {
    font-family: Inter;
    font-size: 20.99px;
    font-weight: 600;
    line-height: 20.28px;
    text-align: left;
    color: #C4C3C3;
    padding-bottom: 15px;
}
.hero-content img {
    margin-bottom: 38px;
}
.video-section p {
    font-size: 18px;
    font-weight: 200;
    line-height: 31.44px;
    color: var(--grey-text);
    padding-top: 15px;
    max-width: 783px;
    margin: 0 auto;

}
.video-section h1 {
    font-size: 35.43px;
    font-weight: 500;
    line-height: 45.71px;
}
.video-content h1 {
    font-size: 53.11px!important;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.02em;
    max-width: 83%;
    text-align: left;
    margin-left: 30px;
}
.sevice-text h1 {
    font-size: 22px;
    font-weight: 500;
    line-height: 33.64px;

}
.frame_icon {
    position: relative;
    bottom: 122px;
    left: 207px;
}
.sevice-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 17.7px;
    color: var(--grey-text);
}
.video-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24.78px;
    color: var(--white);
    max-width: 86%;
    padding-top: 15px;
}
.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.secret_content{
    display: none;
}
.secret_h4{
    display: none;
}

@media (max-width: 1440px){
    body.channel .wrapper .container .border-shape.shape3{
        transform: skew(-10deg);
        left: -15%;
        border-top-right-radius: 10px;
    }
    body.channel .wrapper .container .border-shape.shape2{
        right: -6%;
        width: 273px;
        left: unset;
        border-bottom: none;
    }
    body.channel .section-10 .border-shape.shape2{
        top: 315px;
        right: -245px !important;
    }
    body.channel .wrapper .container{
        overflow: hidden;
    }
    .video-content{
        width: 100%;
        max-width: 990px;
    }
    .video-content h1 {
        font-size: 48.11px;
    }
    .service-section {
        width: 100%;
    }
    .service-img img{
        width: 100%;
        border-radius: 10px;
    }
    .service-img .trivia_and_quiz{
        width: 100%;
        margin: 0 auto;
    }
    .moretv-section {
        width: 100%;
    }
    .moretv-card {
        width: 235px;
    }
    .channel .section-subscription {
        margin-left: unset;
    }
    .footer-border {
        margin-left: unset!important;
    }
    .secret_content{
        display: block;
    }
    .secret_h4{
        display: block;
    }

}

@media (max-width: 1080px) and (min-width: 846px){

    body.channel {
        background-size: 0;
    }
    .hero-content{
        width: 100%;
        max-width: 562px;
        margin: 0 auto;
        margin-top: -15px;
    }
    .hero-channel {
        height: 360px;
    }
    .hero-content h1{
        font-size: 39.79px;
        line-height: 100%;
        letter-spacing: 0;
    }
    .hero-content span {
        font-size: 39.79px;
    }
    .hero-content p{
        max-width: 475px;
        font-size: 14px;
        line-height: 17.37px;
        letter-spacing: 0px;
        padding-top: 5px;
        padding: 10px;
    }
    .hero-content img {
        margin-bottom: 20px;
        width: 51px;
    }
    .hero-content button {
        width: 121px;
        font-size: 9px;
        border-radius: 8px;
        padding: 8px 13px 8px 13px;
        margin-top: 10px !important;
    }
    .bg-video {
        height: 337px;
    }
    .video-section .text-center {
        margin-left: 0px !important;
    }
    .blue-wd-5 {
        width: 25px;
        height: 25px;
        margin-bottom: 7px;
        margin-left: 0;
    }

    .blue-wd-5 img{
        width: 12px;
    }
    .video-content h1 {
        font-size: 31.43px!important;
        margin-left: 0;
    }
    .video-content .addition-content p {
        font-size: 12px;
        width: 100%;
        max-width: 257px;
        margin: 0;
        line-height: 14.6px;
    }
    .video-content h2 {
        font-size: 12.34px;
        padding-bottom: 7px;
    }
    .video-content img {
        width: 15px;
        height: 15px;
    }
    .video-content {
        margin: 0 auto;
        padding: 35px 35px 15px 35px;
    }
    .content-card {
        padding: 10px 10px 0px 10px;
        margin-left: 20px;
    }
    .hide-mobile {
        width: 100%;
        max-width: 581px;
        margin: 10px auto;
    }
    .service-img img {
        max-height: 130px;
    }
    .service-icon {
        width: 21px;
        height: 22px;
    }
    .service-section.service-icon img {
        width: 9px;
    }
    .content-service {
        justify-content: unset;
    }
    .sevice-text {
        padding: 2px;
    }
    .moretv-section h3 {
        font-size: 12px;
        padding: 0px;
        margin-left: 7px;
    }
    .moretv-card {
        width: 154px;
    }
    .moretv-content {
        width: 100%;
        max-width: 701px;
        gap: 7px;

    }
    .hero-content button {
        width: 120px;
        height: 27px;
    }
    .btn-outline {
        width: 120px!important;
        height: 22px!important;
        font-size: 8px!important;
    }
    .sevice-text h1 {
        font-size: 14px;
    }
    .video-section h1 {
        font-size: 21.42px;
    }
    .video-section p {
        font-size: 14px;
        line-height: unset;
    }
    .sevice-text p {
        font-size: 10px;
    }
    .group-2 {
        margin-top: 0px!important;
    }
    .moretv-section {
        margin-bottom: 30px;
    }
    .card-text-tv h4 {
        font-size: 12px;
    }

    .channel .section-subscription {
        max-width: 761px;
    }
    .footer-border {
        width: 656px;
    }
    .section-10-content {
        padding-right: 125px;
    }    .header-title button {
        max-width: 260px!important;
        height: 32px!important;
    }
}


@media (max-width: 1042px) and (min-width: 320px) {
    .container .border-shape.shape4{
        height: 270px;
        width: 328px;
        left: 20px;
        z-index: -1;
        border-right: none;
        top: 25px;
    }
    body.channel .wrapper .container{
        overflow: unset;
    }
}

@media (max-width: 846px) and (min-width: 320px) {
    .hero-channel {
        height: 255px;
    }
    .bg-video {
        height: 255px;
        top: 100px;
    }
    .hero-content {
        padding-top: 30px;
        min-height: 280px;
    }
    .hero-content img {
        width: 33px;
        margin-bottom: 5px;
    }

    .video-content {
        border-radius: 5px;
    }
    
    .hero-content h1 {
        font-size: 25.95px;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: 0px;
    }
    .hero-content span {
        font-size: 25.95px;
        line-height: 100%;
        margin-top: 5px;
        letter-spacing: 0.1px;
    }
    .hero-content p {
        max-width: 309px;
        font-size: 12px;
        font-weight: 300;
        line-height: 18.37px;
        padding-top: 10px;
        letter-spacing: 0.2px;
    }
    .service-img .trivia_and_quiz {
        height: 129px;
    }
    .hero-content button {
        width: 100%;
        max-width: 110px;
        margin-top: 20px !important;
        font-size: 8.5px;
        padding: 6px 10px 6px 10px;
        border-radius: 6px
    }
    .video-section h1 {
        font-size: 21.43px;
        width: 100%;
        margin: 0 auto;
        line-height: 32px;
    }
    .video-section .text-center {
        margin-left: 0px!important;
    }
    .video-section p {
        width: 100%;
        font-size: 14px!important;
        max-width: 510px;
    }
    .video-content {
        width: 100%;
        max-width: 581px;
        height: 231px;
        margin: 20px auto;
        padding: 10px;
    }
    .blue-wd-5 {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    .video-content img {
        width: 10px;
        height: 10px;
    }
    .group-2 {
        margin-top: 0px !important;
    }
    .video-content h1 {
        font-size: 31.23px !important;
    }
    .video-content p {
        width: 100%;
        max-width: 321px;
        font-size: 8.5px;
        line-height: 11px;
        padding-top: 0px;
    }
    .video-content h2 {
        font-size: 7.24px;
        line-height: 7px;
        padding-bottom: 7px;
    }
    .video-section {
        margin-top: 30px !important;
    }
    .content-card {
        width: 100%;
        max-width: 230px;
        height: 167px;
        padding: 10px 5px 0px 5px;
        margin-left: 50px;
    }
    .moretv-content {
        gap: 10px;
    }
    .service-section {
        max-width: 581px;
        height: 251px;
        margin: 0 auto;
    }
    .service-icon {
        width: 25px;
        height: 25px;
        margin-top: 5px;
        padding: 10px
    }
    .service-icon img {
        width: 9px;
    }
    .sevice-text {
        padding: 7px;
    }
    .sevice-text h1 {
        font-size: 10px !important;
        line-height: 17.5px;
    }
    .video-section p {
        font-size: 9px!important;
        line-height: 11px;
        padding-top: 5px;
    }
    .video-content-p {
        margin-left: 30px!important;
    }
    .moretv-section h3{
        font-size: 12px;
        padding-left: 20px;
        padding-top: 5px;
    }
    .moretv-section {
        max-width: 339px;
        margin: 0 auto;
    }
    .moretv-card {
        width: 160px;
    }
    .card-text-tv h4 {
        font-size: 12px;
    }
    .header-title h4 {
        display: none;
    }
    .header-title button {
        width: 100%;
        max-width: 339px;
    }
    .channel .section-subscription {
        border: none;
        background-color: #161616;
    }
}

@media (max-width: 759px){
    .channel .section-subscription {
        display: none;
    }
}
@media (max-width: 630px){
    .moretv-card {
        width: 140px;
    }
}


@media (max-width: 390px){
    .moretv-section h3 {
        text-align: center;
    }
    .content-service {
        justify-content: unset;
        flex: 1 1 calc(50% - 10px);
    }
    .video-content {
        max-width: 340px!important;
        height: 136px!important;
    }
    .content-card {
        max-width: 135px;
        height: 98px!important;
    }
    .service-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .content-service:nth-child(3) {
        flex: 1 1 100%;
        display: flex;
        flex-direction: row;
        padding: 15px 15px 0px 15px;
    }
    .service-section {
        margin-bottom: 170px;
    }
    .video-section p{
        font-size: 8.5px!important;
    }
    .text-left {
        text-align: left!important;
    }
    .video-content h1 {
        font-size: 13px;
        line-height: 15px;
    }
    .blue-wd-5{
        width: 21px;
        height: 20px;
        margin-left: 0px;
    }
    .video-content-p {
        font-size: 8.5px!important;
        margin-left: 0px!important;
    }
    .content-card {
        margin-left: 25px;
    }
    .moretv-section h3 {
        margin-left: 5px!important;
    }
    .service-section {
        max-width: 340px;
        gap: 10px;
        margin-top: -10px;
    }
    .video-section h1 {
        font-size: 20px;
        max-width: 223px;
        margin: 0 auto;
    }
    .text-center .p-p{
        font-size: 12px!important;
        max-width: 321px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .service-icon {
        width: 18px;
        height: 18px;
    }
    .hide-blue{
        position: relative;
        top: -60px;
        left: 27px;
    }

    .service-img .trivia_and_quiz {
        width: 135px;
    }
    .hide-moretv {
        display: none;
    }
    .moretv-section h3 {
        text-align: start;
        margin-left: 13px;
    }
    .moretv-card {
        width: 160px;
    }
    .hero-content button {
        height: 25px;
    }
    .video-content h1 {
        font-size: 13px!important;
        margin-left: 0px!important;
    }
    .btn-outline {
        font-size: 8.5px!important;
        width: 112px!important;
        height: 17px!important;
    }
    .mb-1{
        margin-bottom: 5px!important;
    }
}

