body.venue-body {
    background: #161616 !important;
    color: #666666;
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -230px;
}
:root {
    --white: #ffffff;
    --dark-grey: #9b9b9b;
    --venu-card: #1A1A1A;
}
.overtv-advertise {
    position: absolute;
    top: 230px;
    width: 15%;
    right: -1%;
    z-index: 9;
}
.flex-card-mob {
    display: none;
}
w-50-pr {
    width: 50%;
}
w-100-pr {
    width: 100%;
}
.border-top-left-70 {
    border-top-left-radius: 70px;
}
.hero-video video{
    width: 100%;
    max-width: 100%;
    height: 450px !important;
    border: 8px solid #020202;
    object-fit: cover;
    background-color: black;
}
.wrapper .container > div {
    max-width: 1100px !important;
}
.venue-body .container {
    max-width: 1360px !important;
}
.thank_you_page .venue-container .vector1{
    position: absolute;
    left: 0px;
    width: 120px;
    height: 427px;
    margin-top: 50px;
}

.thank_you_page .venue-container .vector1 img{
    width: 100%;
    height: 100%;
}

.hero-video video {
    height: inherit !important;
    aspect-ratio: 0 / 0.43 !important;
}
.venue-text {
    line-height: 47px;
    position: relative;
    width: 50%;
}
.venue-hero-img .img3, .venue-hero-img .img1{
    border-radius: 14px;
}
.venue-hero-img .img3, .venue-hero-img .img2{
    position: absolute;
    z-index: -1;

}

.venue-hero-img .img2{
    right: 0;
    width: 100% !important;
    max-width: 405px;
    top: 160px!important;
    height: 423px !important;
}
.venue-hero-img .img3{
    width: 100%!important;
    height: 393px !important;
    max-width: 653px;
    top: 185px!important;
    top: 183px !important;
    right: 124px !important;

}

.venue-hero-img {
    width: 60%;
}

.venue-text button {
    padding: 10px 23px;
    background-color: #007AFE;
    color: var(--white);
    border: 0px;
    border-radius: 12px;
    font-size: 16.76px;
    font-weight: 600;
}
.venue-text p {
    color: var(--white);
}
.venue-container {
    display: flex;
    margin-top: 125px;
    align-items: center ;
}
.venue-text h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56.79px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--white);
}
.venue-text{
    width: 81%;
}
.card-ipad-container, .ipad-card {
    display: none;
}
.hero-video {
    position: relative;
    width: 60%;
}
.control-section p {
    color: var(--white);
    padding-top: 10px;
}
.control-section h2 {
    color: var(--white);
}
.ads-title {
    padding-top: 5%;
    width: 50%;
}
.wrapper .container .ads-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    text-align: start;
    color: #ffffff;
    margin: 0;
}
.venue-body .section-subscription {
    margin-top: 3.5%;
}
.overtv-finance {
    position: absolute;
    right: 67%;
    top: 220px;
    bottom: -28px;
    z-index: 2;
    border-radius: 10px;
    width: 210px;
    height: 200px;
}
.ads-title-under{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}
.ads-section-2 {
    margin-top: 120px;
}
.Campaign-section h1{
    color: var(--white);
    font-size: 38px;
    font-weight: 600;
}
.ads-title-under p {
    font-weight: 400;
}
.Campaign-section p,
.ads-title-under p {
    color: var(--white);
    font-size: 14px;
}
.venue-container-mobile {
    display: none;
}
.image-insight {
    height: 465px;
    width: 465px;
}
.hero-list li{
    font-size: 20px;
    font-weight: 300;
    line-height: 31.92px;
    display: flex;
    width: 100%;
    color: var(--white);
}
.listing {
    margin-top: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.hero-listing {
    width: 55px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    border-radius: 50%;
    color: var(--white);
    border: 2px solid #444444;
    font-size: 16.85px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
.image-insight-container {
    position: relative;
    display: flex;
    justify-content: end;
    left: 9%;
}
.campaign-manage {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.section-6-ads-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #fff;
}
.section-realtime {
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
}
.section-6-ads-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.venue-h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 10px;
}
.section-6-ads-left h1,
.section-6-ads-right h1
{
    font-size: 42px;
    color: var(--white);
    font-weight: 600;
}
.section-6-ads-left p, .section-6-ads-right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 450px;
    color: #d0d0d0;
}
.campaign-margin {
    margin-top: 2rem;
}
.hide-for-desktop {
    display: none;
}
.realtime-6-ads-left {
    width: 35%;
    flex-direction: column;
    justify-content: left;
    color: #fff;
}
.realtime-6-ads-left h1 {
    padding-top: 6rem;
    font-size: 38px;
    color: var(--white);
    font-weight: 600;
}
.realtime-6-ads-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #d0d0d0;
}
.venue-section-2 {
    margin-top: 4rem;
    color: var(--white);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.venue-card {
    /* background-color: var(--venu-card); */
    border: 1px solid #262626;
    border-radius: 26px;
    color: #CCCCCC;
    padding: 30px;
    max-width: 327px;
    margin-top: 1rem;
    text-align: start;
}

.thank_you_page .th-card1{
    background: linear-gradient(150deg, #7A7A7A -197%, #101010 29.76%);
}

.thank_you_page .th-card2{
    background: linear-gradient(148deg, #7A7A7A -375%, #101010 30.76%);
}

.thank_you_page .th-card3{
    background: linear-gradient(148deg, #7A7A7A -375%, #101010 30.76%);
    padding-top: 0;
}
.thank_you_page .th-card3 img{
    height: 240px;
}

.venue-card h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}
.venue-card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 1rem;
}
.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    gap: 25px;
    position:relative;
}

.card-container .border-shape.shape3 {
    margin-top: -5px;
    left: -135%;
}
.venue-card-img {
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
}
.card-container-2 {
    width: 100%;
    display: flex;
    gap: 10px;
    position:relative;
}
.card-container .border-top-left-40{
    right: -136%;
    top: 446px;
}
.card_item{
    display: flex;
    align-items: center;
    padding: 28px 45px;
}
.card_item div{
    display: flex;
    flex-direction: column;
    align-items: start;
} 
.card_item div h1{
    font-size: 44px;
    text-align: start;
    /* letter-spacing: 2px; */
    margin-bottom: 25px;

}
.card_item div p{
    font-size: 20px;
    text-align: start !important;
    max-width:86% ;
    line-height: 24px;
    color: #D0D0D0 !important;
}
.card_item img{
    max-width: 444px;
    height: 245px;
}
.flex-card {
    border-radius: 26px;
    display: flex;
    color: #CCCCCC;
    padding: 10px 0px 10px 30px;
    align-items: center;
    margin-top: 3rem;
    text-align: start;
}
.venue-section-2 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: #ffffff99;
    max-width: 922px;
}
.venue-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 0px;
    text-align: start;
    color: #7A7A7A;
}
.flex-card-tex p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: start;
    color: #7A7A7A;

}
.realtime-6-ads-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}
.insight-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
}

.thank_you_page .btn_outline{
    padding: 6.61px 22.05px;
    border: 0.94px solid #0886FB;
    color: var(--link-color);
    background: transparent;
    border-radius: 6.38px;
    font-size: 18.36px;
    line-height: 24.3px;
    font-family: "Inter", sans-serif;
}
.thank_you_page .thankyu_slider{
    position: relative;
    max-width: 270px;
    height: 200px;
}
.thank_you_page .thankyu_slider .swiper-slide.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 270px;
    max-height: 189.95px;
    object-fit: cover;
    border-radius: 10px;
}

.thankyu_slider .mySwiper {
    height: 230px;
}

.thankyu_slider .mySwiper .swiper-pagination-bullet {
    background-color: #4F5358!important;
}

.thankyu_slider .mySwiper  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: white!important;
}

.thank_you_page .venue-card-img-2 img{
    width: 250px;
    height: 200px;
    object-fit: contain;
}
.thank_you_page  .swiper-button-next, .thank_you_page  .swiper-button-prev{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #95363638;
}
.thank_you_page .swiper-button-next:after, .thank_you_page .swiper-button-prev:after{
    color: white;
    font-size: 13px!important;
    font-weight: 900;
}

.thank_you_page .flex-card {
    background: linear-gradient(148deg, #7A7A7A -375%, #101010 30.76%);
}
.thank_you_page .flex-card h2{
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}
.th-flex-card2{
    overflow: hidden;
}
.th-flex-card2 img{
    position: relative;
    top: 36px;
}

.th-flex-card1{
    border: 1px solid #262626;
}

.thank_you_page  .flex-card-img {
    display: flex;
    align-items: center;
}



/* For screens between 1000px and 1319px in width */
@media only screen and (min-width: 1000px) and (max-width: 1319px) {
    .venue-video img:nth-child(1) {
        top: 200px;
        right: 0;
        position: absolute;
        width: 645px;
        height: 621.73px;
    }
    .venue-section-2 {
        margin-top: 13rem;
    }
}

/* For screens between 1320px and 1439px in width */
@media (min-width: 1320px) and (max-width: 1439px) {
    .venue-video img:nth-child(1) {
        top: 200px;
        /* left: 500px; */
        position: absolute;
        width: 852px;
        height: 514px;
    }
    .venue-section-2 {
        margin-top: 8rem;
    }
    .venue-body {
        overflow-x: hidden;
    }
    .thank_you_page .venue-container .vector1{
        width: 100px;
    }
}

/* For screens between 1440px and 1919px in width */
/*@media (min-width: 1490px) and (max-width: 1919px) {*/
    .venue-video img:nth-child(1) {
        top: 200px;
        right: 0;
        position: absolute;
        width: 700px;
        height: 560px;
    }
    .venue-hero-img .img3 {
        max-width: 520px;
    }
    .venue-hero-img .img2 {
        max-width: 385px;
    }
    .venue-section-2 {
        margin-top: 120px
    }
    .venue-body {
        overflow-x: hidden;
    }
/*}*/

@media(min-width: 1920px) {
    .venue-video img:nth-child(1) {
        right: unset;
        left: 55%;
    }
}

@media  (max-width: 1490px) {
    .card-container .border-shape.shape3 {
        left: -117%;
    }
    .venue-video img:nth-child(1) {
        top: 220px;
        right: 0;
        position: absolute;
        width: 600px;
        height: 560px;
    }
    .venue-hero-img div{
        overflow: hidden;
    }
    .venue-hero-img .img3 {
        max-width: 420px;
        top: 175px !important;
        right: 0px !important;
    }
    .venue-hero-img .img2 {
        max-width: 205px;
        height: 300px;
    }
    .venue-section-2 {
        margin-top: 61px
    }
    .venue-body {
        overflow-x: hidden;
    }
}

@media  (max-width: 1325px) {
    .venue-video img:nth-child(1) {
        top: 200px;
        right: 0;
        position: absolute;
        width: 500px;
        height: 460px;
    }
    .venue-hero-img div{
        overflow: hidden;
    }
    .venue-hero-img .img3 {
        max-width: 320px;
    }
    .venue-hero-img .img2 {
        max-width: 205px;
        height: 300px!important;
    }
    .venue-section-2 {
        margin-top: 120px
    }
    .venue-body {
        overflow-x: hidden;
    }
    .thank_you_page .venue-container .vector1{
        width: 60px;
    }
}

@media  (max-width: 1250px) {
    .thank_you_page .venue-container .vector1{
        display: none;
    }
}
@media  (max-width: 1200px) {
    .card-container .border-top-left-40 {
        display:none;
    }
}

@media  (max-width: 1150px) {
    .venue-video img:nth-child(1) {
        width: 400px;
        height: 360px;
    }

    .venue-hero-img .img3 {
        max-width: 320px;
        height: 200px!important;
    }
    .venue-hero-img .img2 {
        max-width: 205px;
        height: 200px!important;
    }
}

@media  (max-width: 1080px) {
    .flex-card-mob {
        display: block;
        width: 100%;
    }
    .venue-video-mob{
        width: 100%;
        height: 100%;
        max-height: 409px;
        margin-top: 20px;
    }
    .venue-video-mob img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
        aspect-ratio: 704/409;
    }
    .listing {
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .hero-list li {
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        width: 77%;
    }
    .hero-listing {
        width: 48px;
        height: 48px;
    }
    .venue-section-2 {
        margin-top: 30px;
    }

    .venue-text button {
        padding: 12px 18px;
        font-size: 14px;
    }
    .thank_you_page .btn_outline {
        font-size: 13px;
        line-height: 17px;
        padding: 4.61px 12.05px;
    }

    .venue-section-2 h1{
        font-size: 36px !important;
        line-height: 39px;
        max-width: 590px;
        margin-top: 20px;
    }
    .venue-section-2 p{
        max-width: 621px;
        font-size: 14px;
        line-height: 18px;
    }

    .venue-card {
        max-width: 342px;
    }

    .thank_you_page .thankyu_slider .swiper-slide.swiper-slide img {
        max-width: 260px;
        max-height: 183px;
    }
    .thank_you_page .thankyu_slider .swiper-pagination {
        bottom: 15px;

    }
    .card_item {
        padding: 28px 30px;
    }
    .card-container {
        margin-top: 0px;
    }
    .card_item div p {
        font-size: 14px;
        max-width: 94%;
    }
    .card_item img{
        width: 317px;
        height: 175px;
    }
    .card_item div h1 {
        margin-bottom: 15px;
        margin-top: 0px !important;
        font-weight: 600;
        width: 90%;
    }
    .thank_you_page .thankyu_slider {
        max-width: 260px;
        width: 100%;
        height: 212px;
        margin: 0 auto;
    }
    .thank_you_page .th-card3 img {
        height: 215px;
        margin-bottom: 20px;
    }
    .expand_and_earn img{
        margin-left: 40px;
    }

    .flex-card-tex {
        max-width: 340px;
    }
    .thank_you_page .flex-card {
        justify-content: space-between;
        margin-top: 30px;
        border-radius: 7px;
        padding: 20px 0px 20px 40px;
    }
    .thank_you_page .flex-card h2{
        font-size: 30px;
        line-height: 38px;
    }

    .thank_you_page  .flex-card-tex p {
        font-size: 16px;
        line-height: 24px;
        color: white;
        margin-top: 20px;

    }

    .thank_you_page .flex-card img {
        max-width: 410px;
        height: 221px;
    }
    .ipad-card{
        position:relative;
    }
    .ipad-card   .border-shape{
        margin-top: -5px;
        left: -97%;
        z-index: -1;
        top: 108px;
    }
}

@media (min-width: 1920px) and (max-height: 1420px) {
    .venue-video img:nth-child(1) {
        top: 215px;
        right: 0;
        position: absolute;
        width: 834.48px;
        height: 621.73px;
    }
    .venue-section-2 {
        margin-top: 130px;
    }
}

@media (max-width: 810px){
    .wrapper .container .ads-title span{
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        line-height: 38.83px;
        background: linear-gradient(0deg, #146EF5 0%, #60EFFF 70.76%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .venue-container {
        display: flex;
        flex-direction: column;
    }
    .venue-text {
        width: 100%;
        left: 0px;
    }
    .hero-video {
        width: 100%;
        padding-top: 7%;
    }
    .ads-title {
        width: 100%;
    }
    .hero-video video {
        position: relative;
        width: 85%;
        left: 16%;
    }
    .overtv-advertise {
        top: 250px;
        right: 4%;
    }
    .venue-video img:nth-child(1) {
        width: 100%;
        margin-left: 0px;
        height: 100%;
    }
    .work-title img {
        width: 5%;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 40px;
    }
    .section-advertiser-1-title video {
        height: inherit !important;
        aspect-ratio: 0 / 0.43 !important;
        width: calc(100% - 135px) !important;
    }
    .hide-for-desktop {
        display: block;
    }
    .mobile-insight {
        margin-top: 3rem;
    }
    .section-advertiser-1-title {
        padding-top: 25px;
    }
    .wrapper .container .ads-title h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 38.83px;
        color: #fff;
        padding: 0px;
        text-align: center;
    }
    .section-advertiser-1-title img:nth-child(2){
        position: absolute;
        top: 270px;
        left: 1%;
        width: 230px;
        height: 220px;
    }
    .image-insight {
        margin-left: 0px;
    }
    .ads-title-under {
        flex-direction: column;
    }
    .hide-for-mobile {
        display: none;
    }
    .hide {
        display: none !important;
    }
    .wrapper .container .title .ads-title-under{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .d-sm-col {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px){
    .ipad-card   .border-shape{
        display:none;
    }
    .listing {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .venue-container-mobile h1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 38.04px;
        max-width: 339px;
    }
    .venue-video-mob img {
        aspect-ratio: 338/196;
    }

    .thank_you_page{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-listing {
        font-size: 10px;
        line-height: 12px;
        width: 30px;
        height: 30px;
    }

    .hero-list li {
        font-size: 13.87px;
        font-weight: 400;
        line-height: 18.5px;
    }
    .venue-text button {
        border-radius: 10px;
        font-size: 14px;
        line-height: 9.7px;
        padding: 11.14px 15px;
    }

    .thank_you_page .btn_outline {
        font-size: 9px;
        line-height: 9px;
        padding: 4.61px 7.05px;
        border-radius: 2.6px;
    }

    .venue-section-2 h1{
        font-size: 30px !important;
        font-weight: 700;
        line-height: 32.02px;
        text-align: start;
        /* max-width: 339px; */
        margin-top: 0;
    }

    .venue-section-2 p{
        font-size: 14px;
        font-weight: 400;
        line-height: 18.5px;
        text-align: start;
        color: #ffffff;
        max-width: 339px;
        margin-top: 20px;
    }

    .thank_you_page .thankyu_slider {
        max-width: 200px;
        width: 100%;
        height: 190px;
        margin: 0 auto;
    }

    .thank_you_page .thankyu_slider .swiper-slide.swiper-slide img {
        max-width: 200px;
        max-height: 160px;
    }
    .thank_you_page .thankyu_slider .swiper-pagination {
        bottom: 42px;
    }

    .thank_you_page .th-card3 img {
        height: 185px;
        max-width: 200px;
    }
    .expand_and_earn {
        padding-top: 40px!important;
    }

    .expand_and_earn img {
        margin-left: 0px;
        max-width: 200px;
    }

    .thank_you_page .flex-card h2 {
        font-size: 14px;
        line-height: 11.2px;
    }
    .section-advertiser-1-title img:nth-child(2) {
        position: absolute;
        left: 1%;
        width: 110px;
        height: 110px;
    }
    .p-15x {
        padding: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .section-7 h1 {
        text-align: center;
    }
    .pl-2 {
        padding-left: 20px;
    }
    .venue-text {
        left: 0px;
        line-height: 27px;
        text-align: center;
        padding-bottom: 20px;
    }
    .sm-block p {
        padding-top: 10px;
    }
    .sm-block {
        display: block !important;
    }
    .hero-list li{
        /* max-width: calc(100% - 60px); */
        text-align: start;
    }
    .venue-text h1 {
        font-size: 22px;
        font-weight: 700;
    }
    .venue-text {
        text-align: start;
    }
    .hero-listing {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .venue-video img:nth-child(1) {
        width: 100%;
        margin-left: 0px;
        height: 100%;
    }
    .hero-listing {
        margin-right: 10px;
    }
    .hero-video video {
        width: 90%;
        left: 12%;
        position: relative;
    }
    .venue-container,  .card-container-2 {
        display: none;
    }
    .flex-card img {
        width: 94px;
    }
    .venue-section-2 {
        margin-top: 2rem;
    }
    .thank_you_page .venue-card-img-2 img {
        width: 200px;
        height: 160px;
    }
    .card_item {
        flex-direction: column;
        padding: 10px 10px;
       
    }
    .card-container{
        margin-top: 20px;
    }
    .card_item div{
        max-width:390px ;
    }
    .card_item img {
        width: 340px !important;
        margin-top: 25px;
    }
    .card_item div h1 {
        width: 95%;
        font-size: 28px !important;
        line-height: 32px;
        margin-bottom: 0px;
    }
    .venue-margin {
        margin-bottom: 10px;
    }
    .footer-bod-div {
        margin: 20px 0px;
    }

    .ipad-card {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .venue-card {
        max-width: 49%;
        padding: 15px;
        margin-top: 1rem;
        border-radius: 8px;
    }
    .footer-subscription {
        margin-top: 10%;
    }

    .venue-card h2 {
        font-size: 10.78px;
        font-weight: 700;
        line-height: 14.4px;
    }

    .venue-card p {
        font-size: 7.19px;
        line-height: 10.8px;
    }

    .venue-card-img img {
        width: 100%;
        height: 100%;
    }
    .flex-card {
        display: flex;
        justify-content: space-between;
    }
    .flex-card h2 {
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }
    .flex-card p {
        font-size: 8px;
        margin-top: 10px;
    }
    .thank_you_page .flex-card img {
        max-width: 410px;
        height: 170px;
        width: 100%;
    }

    .thank_you_page .flex-card-tex p {
        font-size: 7.46px;
        line-height: 11px;
    }
    .mobile-text {
        color: #D8D8D899 !important;
        /* text-align: center !important; */
    }
    .flex-card {
        border-radius: 3.38px;
    }
    .profit-card-p {
        font-size: 9px !important;
        font-weight: 400 !important;
        line-height: 11.5px !important;
        text-align: left !important;
        color: #FFFFFFCC !important;
    }
    .flex-card-img-card {
        width: 130px;
    }
    .venue-container-mobile {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        color: var(--white);
        padding: 0px 15px;
    }

    .venue-text, .hero-video {
        width: 100%;
    }
    .control-section {
        margin-top: 3rem;
    }
    .section-8 h1 {
        font-size: 21px;
    }
    .work-section p {
        color: var(--white);
        padding-left: 35px;
    }
    .Campaign-section h1 {
        font-size: 25px;
        text-align: center;
    }
    .ads-section-2 {
        margin-top: 48px;
    }
    .Campaign-section {
        padding: 0px 10px 0px 10px;
    }
    .Campaign-section p {
        text-align: center;
    }
    .overtv-advertise {
        top: 155px;
        width: 65px;
    }
    .hide-mb {
        display: none;
    }
}
@media (max-width: 650px) {
    .flex-card-tex{
        max-width: 160px;
    }

}
@media (max-width: 500px) {

    .thank_you_page .flex-card img {
        max-width: 193.33px;
        height: 103px;
    }
    .thankyu_slider .mySwiper {
        height: 150px;
    }
    .thank_you_page .thankyu_slider {
        max-width: 122px;
        height: 110px;
    }
    .thank_you_page .thankyu_slider .swiper-slide.swiper-slide img {
        max-width: 122px;
        max-height: 85px;
    }

    .thank_you_page .venue-card-img-2 img {
        width: 112px;
        height: 85px;
    }

    .venue-card h2, .venue-card p{
        max-width: 112px;
    }

    .expand_and_earn img {
        max-width: 122px;
    }
    .thank_you_page .th-card3 img {
        height: 118px;
        max-width: 112px;
    }

    .section-advertiser-1-title video {
        height: inherit !important;
        aspect-ratio: 1 / 0.7 !important;
        width: calc(100% - 40px) !important;
    }
    .section-advertiser-1-title img:nth-child(2) {
        top: 180px;
        width: 100px;
        height: 100px;
    }
    .hero-list li {
        width: 416px;
        font-weight: 300;
    }
    .hero-listing {
        width: 32px;
        height: 27px;
        font-size: 10px;
    }
}
@media screen and (max-width: 1400px) {
    .venue-section {
        margin-right: 0px !important;
    }
}
@media (min-width: 768px) and (max-width: 1080px) {
    .venue-text {
        width: 100%;
        left: 0px;
    }
    .hide-for-desktop {
        display: flex;
        flex-direction: column;
    }
    .card-ipad-container {
        display: flex;
        justify-content: space-between;
    }
    .venue-container, .card-container , .card-container-2 {
        /* display: none; */
    }
    .work-section {
        padding-top: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 42px;
    }
    .control-section {
        display: none;
    }
    .work-title img {
        width: 6%;
    }
    .insights-section {
        display: none !important;
    }
    .hero-video {
        width: 100%;
        width: 100%;
        display: flex;
        padding-top: 25px;
        justify-content: end;
    }
    .wrapper {
        padding: 30px;
    }
    .image-insight-container {
        left: 5%;
    }
    .venue-container-mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile-text {
        max-width: 85%;
    }

    .card-ipad-container {
        display: none !important;
    }
    .venue-container-mobile h1{
        color: var(--white);
        font-size: 50px;
        font-weight: 600;
        line-height: 68px;
        letter-spacing: -0.02em;
    }
    .ipad-card {
        display: flex;
        justify-content: center;
        /* gap: 20px; */
        width: 100%;
        margin-top: 4%;
    }
    .profit-card-p {
        font-size: 16.02px !important;
        font-weight: 400;
        line-height: 24.03px !important;
        text-align: left;
        margin-top: 10px;
    }
    .flex-card h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
    }

    .venue-card {
        width: 50%;
    }
    .section-6-ads-right img, .realtime-6-ads-right img {
        width: 100%;
    }

    .mac-ads {
        gap: 25px;
    }
    .section-6-ads-left h1, .section-6-ads-right h1 {
        font-size: 36px;
    }
    .section-6-ads-left img {
        width: 100%;
    }
    .venue-video img:nth-child(1) {
        margin-top: 2rem;
        border-radius: 12.02px;
        margin-left: 0px;
    }
    .hero-video video {
        width: 78%;
    }
}
@media (min-width: 769px) and (max-width: 1080px) {
    .venue-text {
        width: 100%;
        left: 0px;
    }
    .hide-for-desktop {
        display: flex;
        flex-direction: column;
    }
    .card-ipad-container {
        display: flex;
        justify-content: space-between;
    }
    .venue-container {
        display: none;
    }
    .work-section {
        padding-top: 10px;
    }
    .work-title h2 {
        color: var(--white);
    }
    .work-section p {
        color: var(--white);
        padding-left: 42px;
    }
    .control-section {
        display: none;
    }
    .work-title img {
        width: 6%;
    }
    .insights-section {
        display: none !important;
    }
    .hero-video {
        width: 100%;
        width: 100%;
        display: flex;
        padding-top: 25px;
        justify-content: end;
    }
    .wrapper {
        padding: 30px;
    }
    .image-insight-container {
        left: 5%;
    }
    .venue-container-mobile {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .venue-container-mobile h1{
        color: var(--white);
        font-size: 48px;
        font-weight: 600;
        line-height: 68px;
        margin-top: 20px;
        letter-spacing: -0.02em;
    }

    .ipad-card {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    .venue-card {
        width: 50%;
    }
    .section-6-ads-right img, .realtime-6-ads-right img {
        width: 100%;
    }
    .mac-ads {
        gap: 25px;
    }
    .section-6-ads-left h1, .section-6-ads-right h1 {
        font-size: 36px;
    }
    .section-6-ads-left img {
        width: 100%;
    }
    .venue-video img:nth-child(1) {
        margin-top: 2rem;
        border-radius: 12.02px;
        margin-left: 0px;
    }
    .hero-video video {
        width: 78%;
    }
}

.thank_you_page .container.hero-section {
    position: static;
}

.venue-video.venue-hero-img {
    margin-left: 30px;
}